<h2>Here's a form to add a new cryptid</h2>

<form action="/cryptids" method="POST">
    <label for="cryptid-picture">URL for image:</label>
    <input type="text" name="img_url" id="cryptid-picture">
    <label for="cryptid-name">Name:</label>
    <input type="text" name="name" id="cryptid-name">
    <input type="submit" value="Add that CRYPTID!">
</form>