* {
    text-align: center;
    margin: 0 auto;
    color: white;
}

body {
    background-color: rgb(58, 68, 68);
}

h2 {
    margin-bottom: 50px;
}

h4 {
    margin-bottom: 15px;
}

.clearDiv {
    height: 1px;
}

nav ul li {
    text-align: left;
    margin-top: 4px;
    margin-bottom: 4px;
}

a {
    color: white;
}

.homeLi {
    margin-top: 0;
}

nav ul {
    width: 200px;
    height: 122px;
    background-color: rgb(55, 54, 61);
    text-align: left;
    margin: 0;
    border-right: 2px solid black;
    border-bottom: 2px solid black;
}

li {
    list-style-type: none;
    line-height: 20px;
}

header {
    position: fixed;
    top: 0;
}

.topSpace {
    height: 200px;
}

img {
    max-width: 100%;
}

input {
    margin-bottom: 10px;
    color: black;
}